<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all">
  <title>Grandpybot, le papy que t'as interêt d'écouter... </title>
</head>
<body>
  <img src="{{ url_for('static', filename='images/old-man.jpg') }}" id='logo'/>
  <h2>Grandpybot, le papy que tu as interêt d'écouter...</h2>
  <h2>ce globe trotter connait tous les lieux et a toujours une histoire à raconter ! </h2>
  <!--The div element for the map -->
  <div id="map">
    <h3>My Google Maps Demo</h3>
    alllllloddk

  </div>
  <label for="input">
    Teste sa réputation !
    <input id="input" type="text" name="textinput" size="50" placeholder="Tape une phrase en français"/>
  </label>


  <footer>
    <div class="row">
      <div class="column"><a href="https:linkedin.com">LY MICKAEL</a></div>
      <div class="column"><a href="https://github.com/Goro-Majima/p7-Cr-ez-GrandPy-Bot-le-papy-robot">Lien github</a></div>
    </div>
  </footer>
</body>
</html>