<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="data:,"><!--remove the error 400 favicon -->
<head>
  <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all">
  <title>Grandpybot, le papy que t'as interêt d'écouter... </title>
</head>
<body>
  <img src="{{ url_for('static', filename='images/old-man.jpg') }}" id='logo'/>
  <h2>Grandpybot, le papy que tu as interêt d'écouter...</h2>
  <h2>Ce globe trotter connait tous les lieux et a toujours une histoire à raconter ! </h2>
  <!--The div element for the map -->
  <div id="map">
    <h3>My Google Maps Demo</h3>
  </div>
  
  <form action= "http://127.0.0.1:5000/api" method='POST'>
    <label for="input">Teste sa réputation !</label>
    <input id="inputext" type="text" name='usertext' size="50" placeholder="Tape une phrase en français"/>
    <input type="submit" value="Envoyer">
    <input type="reset" value="Annuler">
  </form>


  <footer>
    <div class="row">
      <div class="column"><a href="https:linkedin.com">LY MICKAEL</a></div>
      <div class="column"><a href="https://github.com/Goro-Majima/p7-Cr-ez-GrandPy-Bot-le-papy-robot">Lien github</a></div>
    </div>
  </footer>
  
</body>
</body>
</html>