<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="data:,"><!--remove the error 400 favicon -->
<head>
  <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all">
  <link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/old-man.jpg') }}" />
  <title>Grandpybot, le papy que t'as interêt d'écouter... </title>
</head>

<body>
  <header>
      <img src="{{ url_for('static', filename='images/old-man.jpg') }}" id='logo'/>
      <h1>Grandpy bot, le papy qui croit tout savoir...</h1>
      
  </header>
  
  <section class="col-sm-3 col-sm-offset-4 frame" id='chat' >
      <div id="intro">
        <img src="{{ url_for('static', filename='images/old-man.jpg') }}" alt="Avatar" class="avatar">
        Salut les jeunes, demandez moi ce que vous voulez !
      </div>
  </section>
  
  <br>
  <!--Loading image is displayed only when user submit a question-->
  <div class="fa-3x" id="loader">
    <i class="fa fa-spinner fa-spin"></i>		  
    <span> Concentration...</span>
 </div>

  <!-- <form id='form' action= 'http://127.0.0.1:5000/_api' method='POST'> -->
  <form id='form' method='GET'>
    <label style= "font-family: 'Trebuchet MS', Arial, sans-serif" for="input">Pose ta question ici: </label>
    <input id="inputext" type="text" name='usertext' size= '40px' placeholder="Tape une phrase en français">
    <input id="blue" type="submit" value="Envoyer">
    <input id="red"id='reset' type="reset" value="Effacer">
  </form>
  <br>

  <footer class="footer-distributed">

    <div class="footer-right">

      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/mickael-ly-a0a218177/"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/Goro-Majima/p7-Cr-ez-GrandPy-Bot-le-papy-robot"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a>Ly Mickael</a>
        ·
        <a>DA PYTHON</a>
      </p>

      <p>Mickael Company &copy; 2019</p>
    </div>

  </footer>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOXqgCFDowOEhWXY_IIUjuupg8nmHkSek&callback=initMap">
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/ajax.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script> <!--script must be after the core -->
</body>
</html>