body{
    background-color: rgb(255, 247, 141)
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  display: none;
 }

#logo{
    width: 15%;
    height: auto;
}

#loader{
  color: green;
  display: none;
}

/*Footer section*/
/* Create two equal columns that floats next to each other */
.column {
    float: right;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    }
  } 

